body{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App{
  width: 15rem;
  height: 10rem;
  border: 2px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  
}
.App-nav{
  display: flex;
  flex-direction: column;
}
.equal{
  height: 2.5rem;
}
button{
  outline: none;
}
.inp-app{
  width: 14.7rem;
  outline: none;
}